{% extends 'layout.html' %}
{% load static %}
{% block endscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js" integrity="sha512-rKFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA==" crossorigin="anonymous"></script>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/planted-cert.js' %}"></script>
{% endblock endscripts %}

{% block links %} 


<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
 
{% endblock links %}

{% block content %}
<div class="container-fluid main-content">
    {% if not succeeded %}
    <div class="row max-height">
        <div class="col-md-5 scroll border-right">
            <div class="mapFunctionsSection">
                <h2>Map Functions</h2>
                <button id="locate-me-btn" class="btn btn-success">Locate me</button>
                <button id="reset-btn" class="btn btn-warning">Reset</button>
            </div>
            <hr />
            <div class="showMapDataSection">
                <h2>Show Map Data</h2>
                 <div class="map-form-group">
                    <label for="deathRateShow" class="btn btn-danger no-pointer">Show death Rate</label>
                    <input type="checkbox" id="death-rate-checkbox">
                </div>
                <div class="map-form-group">
                    <label for="deathRateShow" class="btn btn-primary no-pointer">Show co2 emission Rate</label>
                    <input type="checkbox" id="c02-emission-rate-checkbox">
                </div>

            </div>
            <hr />
                <h2>Fill the Planter's form</h2>
                <form method="POST" action="{% url 'plant' %}">
                    {% csrf_token %}
                    <div class="form-group">
                    <label for="city">City</label>
                    {{ form.city }}
                    <button id="map-area-btn" class="btn btn-secondary mt-2">Check Area On Map</button>
                    </div>
                    <button type="submit" class="btn btn-success">Plant</button>
                </form>
                <hr />
        </div>
                <div class="col-md-7">
                    <div class="map-container" style="cursor: grab;" id="mapContainer"></div>    
                </div>
        </div>
        {% else %}
        <div class="center">
            <h2>You have volunteered to help plant to make the planet a better place</h2>
            <canvas width="800px" height="600px" data-username="{{user.username}}" data-city="{{city}}" id="planted-cert-canvas"></canvas>
        </div>
    {% endif %}
    
</div>
{% endblock content %}