{% extends 'layout.html' %}
{% load static %}

{% block links %} 
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

{% endblock links %}

{% block endscripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js" integrity="sha512-rKFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA==" crossorigin="anonymous"></script>
    <script src="{% static 'js/store-locator.js' %}"></script>
{% endblock endscripts %}
{% block content %}
<div class="container-fluid store-locator-container row" style="margin-top: 80px; overflow: hidden;">
    <div class="sidebar-search col-md-4" style="overflow-y: scroll; height: 100%;">
        <h3 style="color: #333">Wood Store Locator</h3>
        <input type="text" id="locator-search" class="locator-search" placeholder="search">
        <button id="reset" class="btn btn-secondary">reset</button>
        <ul class="list-group" id="store-list">
        </ul>
    </div>
    <div class="col-md-8" id="storeMapContainer"></div>
</div>
{% endblock content %}