{% extends 'layout.html' %}
{% load static %}
{% block endscripts %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock endscripts %}
{% block content %}
    <div class="why-trees-header">
        <h2 data-aos="zoom-in">Why Trees</h2>
    </div>
    <div class="container">
        <div class="whySection">
            <h2 class="text-center mt-5 mb-5" data-aos="fade-in" data-aos-duration="300">REASONS WHY WE NEED TO PLANT TRESS</h2>
            <div class="whySection__point">
                <div class="row mb-5" style="justify-content: center; align-items: center;">
                    <img width="300px" data-aos="flip-up" data-aos-delay="600" data-aos-duration="300" height="300px" src="{% static 'assets/Mango_Tree_SriLanka.jpg' %}" alt="" class="col-md-4">
                    <div class="col-md-7" data-aos="fade-left" data-aos-delay="900">
                        <h2 class="mt-2 mb-3">FOOD SECURITY</h2>
                        <p>For every tree we plant, it will provide 700 rupees worth of food and nutrition annually (true cost of a meal being 13 rupees). A dead tree would result in an output of 50000 rupees, while a living tree would have an all-in-all net outcome of 23 lakh rupees in total, both over a period of about 50 years.</p>
                    </div>
                </div>
              </div>
                <hr class="bg-dark" />
            <div class="whySection__point">
                <div class="row mb-5" style="flex-direction: row-reverse; justify-content: center; align-items: center;">
                    <img width="300px" height="300px" src="{% static 'assets/Forest-bathing.jpg' %}" data-aos="flip-down" data-aos-duration="300" alt="" class="col-md-4">
                    <div class="col-md-7" data-aos="fade-right" data-aos-delay="300">
                        <h2 class="mt-5 mb-3">PREVENT DEFORESTATION</h2>
                        <p>According to studies, 40% of India's natural forest cover has been lost in the last 95 years, major factors being mining, agriculture, fishery, and urbanization. The adverse effect of this major loss can be reversed by reforestation, improving the lives of an estimate of 275 million Indians that are dependent..</p>
                    </div>
                </div>
              </div>
                <hr class="bg-dark" />
            <div class="whySection__point">
                <div class="row mb-5" style="justify-content: center; align-items: center;">
                    <img width="300px" height="300px" src="{% static 'assets/nature.jpg' %}" alt="" data-aos="flip-down" data-aos-duration="300" style="border-radius: 70%;" class="col-md-4">
                    <div class="col-md-7" data-aos="fade-left" data-aos-delay="300">
                        <h2 class="mt-5 mb-3">ADAPT TO CLIMATE CHANGE</h2>
                        <p>A fully-grown tree encompasses  about upto 48 pounds of carbon annually. Given India's poor Air Quality Index scores, this will be a huge step forward in tackling air pollution. Problems like untimely rains and record setting increasing or decreasing temperature will also be tackled, taking climate change into account.</p>
                    </div>
                </div>
              </div>
                <hr class="bg-dark" />
          </div>
    </div>
{% endblock content %}