@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    width: 100%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
    background: #111;
    color: #fff;
}

.navbar-nav > .nav-item > .nav-link{
    color: #fff !important;
    transition: all 0.2s ease-in;
}

.navbar-nav > .nav-item > .nav-link:hover{
    opacity: 0.8;
}

.bg-link{
    transition: all 0.2s ease-in;
}

.bg-link:hover{
    background-color: rgba(255, 255, 255, 0.4);
    color: #333 !important;
}

.donate-link{
    background-color: rgba(250, 40, 75, 0.959);
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
    text-align: center;
}

.plant-link{
    background-color: rgb(52, 236, 52);
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .donate-link{
        margin-right: 0;
        margin-left: 0;
    }

    .nav-link{
        width: 100%;
        text-align: center;
        margin: 4px 0;
    }
    
}

.header{
    background-image: url('/static/assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    color: #fff;
}

.why-trees-header{
    background-image: url('/static/assets/why-trees-bg-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    color: #fff;
}

.header > h2, .why-trees-header > h2{
    font-weight: 900;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
}

.content{
    width: 100%;
    flex: 1;
}

.dataSection{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.dataSection > div > img{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.dataSection > div > p{
    width: 80vw;
}

.dataSection__research{
    width: 50%;
    height: auto;
    padding: 20px;
    overflow: hidden;
    margin: 80px 0;
}

.dataSection__research > img{
    width: 100%;
    height: 500px;
}

.dataSection__researches{
    display: flex;
    flex-wrap: wrap;
}

.dataSection__header, .impactSection > h2, .teamSection > h2{
    text-transform: uppercase;
    --text-opacity: 1;
    color: rgba(17,50,89,var(--text-opacity));
    font-family: 'Montserrat', sans-serif;
}

.impactSection{
    margin-top: 200px;
    margin-bottom: 90px;
    overflow-x: hidden;
    background-color: #f2a3041f
}

.impactSection__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 110);
}

.flex-side{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 400px;
    padding: 40px;
}

.impactSection__title{
    text-transform: uppercase;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    line-height: 24px;
    letter-spacing: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.impactSection__left{
    background-color: rgba(245, 245, 110, 0.6);
}

.impactSection__right{
    background-color: rgba(214, 131, 6, 0.6);
}

.flex-side > div > div > h3{
    font-size: 1.4rem;
}

.flex-side > div > div > p{
    line-height: 30px;
}

.graphDataSection{
    margin: 80px 0;
}

.chartsSection__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.chartsSection__buttons > button{
    margin: 0 5px;
}

.border-right{
    border-right: 1px solid #111;
}


.teamSection{
    padding: 60px;
}

.social-links{
    text-align: center;
}

.social-links > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-links > ul > li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.social-links .fa{
    font-size: larger !important;
}

.readySection a{
    display: block;
    margin-top: 5px;
    width: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ddd;
}

@media screen and (max-width: 730px){
    .header__right{
        display: none;
    }
    .header__left{
        flex: 1;
        height: 100%;
    }
    .dataSection__researches{
        flex-direction: column;
    }
    .dataSection__research{
        flex: 1;
        width: 100%;
    }
    .impactSection > div{
        flex-direction: column;
        flex: 1
    }
}

.login-container{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-container form{
    margin: auto;
}

.login-container > div > form > label{
    color: gray;
}
.login-container > div > form > input{
    display: block;
    width: 100%;
}
.login-container > div > form > input[type='checkbox']{
    width: 50px;
    height: 50px;
}
.helptext{
    display: none;
}


.map-container{
    width: 100%;
    height: 100%;
}

.main-content{
    margin-top: 80px;
}

.max-height{
    height: 500px;
    overflow: hidden;
}

.absolute-gap{
    display: absolute;
    top: 20;
}

.chartsSection__charts{
    width: 100%;
    max-height: 350px;
    padding: 10px;
}

.mapFunctionsSection > button, .showMapDataSection > button{
    margin: 10px 5px;
}

.map-form-group{
    position: relative;
    height: 70px;
    overflow: hidden;
}

.map-form-group > input{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20%;
}

.no-pointer{
    cursor: default !important;
}

.no-display{
    display: none;
}

.scroll{
    height: 100%;
    overflow-y: scroll;
}

.profile-card{
    box-shadow: 1px 5px 3px 0 #000;
}

.howSection{
    border-radius: 5px;
    width: 100%;
    overflow-x: hidden;
    color: #111;
    padding: 10px;
}

.underline{
    width: 40px;
    height: 5px;
    border-radius: 5px
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.how-card p{
    text-align: left;
    margin-top: 50px;
}

.funders-card{
    background-color: rgba(114, 200, 250, 0.4);
}

.donators-card{
 background-color: rgba(114, 200, 250, 0.2);
}
.planters-card{
 background-color: rgba(114, 162, 192, 0.2);
}

.wood-store-card{
    background-color: #ddd;
}

.how-card{
    min-height: 300px !important;
    color: #111;
     margin: 0 5px;
     flex: 1;
}

.how-row{
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.whySection__point > div{
    min-height: 300px;
}

.whySection__point > div > img{
    border-radius: 50%
}

.store-locator-container{
    width: 100%;
    height: 90vh;
}

.sidebar-search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.locator-search{
    outline-width: 0;
    margin: 10px 0;
}

.list-group{
    width: 100%;
}

.store-item{
    display: flex;
}

.marker{
    background-image: url('/static/assets/plant-pot.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.footer{
    background-color: #111;
     margin-bottom: 0;
    margin-top: 50px;
    color: #fff;
}

.small-avatar{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.footer-team-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-team-detail > ul{
    text-align: center;
}

.footer-team-detail > ul > li{
    list-style: none;
}

.footer-links > ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links > ul > li{
    list-style: none;
}



@media screen and (max-width: 580px){
    .footer-team-detail{
        display: none;
    }
    .footer-logo{
        flex: 1 !important;
        text-align: center;
    }
    .footer-links > ul{
        flex-wrap: wrap;
    }
}

.center{
    display: grid;
    place-items: center;
}

.merchandise-header{
    background-image: url('/static/assets/bg-merchandise.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
}

.merchandise-header > h1{
    font-size: 5rem;
}

.merchandise-header > p{
    font-size: 14px;
}

.shop-item-card{
    min-height: 450;
    overflow-y: hidden;
    box-shadow: 3px 3px 1px 0 rgb(0, 0, 0);
    transition: all 0.3s ease-out;
    margin: 10px;
}

.shop-item-card > img{
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.shop-item-card > img:hover {
    opacity: 0.6;
}

.shop-item-card:hover{
    transform: scale(1.008)
}

.btn-disabled{
    opacity: 0.5;
    cursor: not-allowed;
}